/* Styling for a specific TextField with an ID */
#myTextField {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 5px;
    -fx-border-color: #a0a0a0;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 8px;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

/* Styling for all TextFields in the application */
.text-field1 {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 5px;
    -fx-border-color: #a0a0a0;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 6px;
    -fx-font-size: 12px;
    -fx-text-fill: #333333;
}

/* Styling for all focused TextFields in the application */
.text-field1:focused {
    -fx-background-color: #ffffff;
    -fx-border-color: #4d90fe;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 6px;
    -fx-font-size: 12px;
    -fx-text-fill: #333333;
    -fx-background-insets: 0, 0 0 1 0;
}

.text-field {
    -fx-font-size: 0.875em;
    -fx-padding: 3 7 2 7;
    -fx-border-color: linear-gradient(to bottom, #aaaaaa 0%, #666666 30%);
    -fx-border-radius: 9;
    -fx-border-insets: 0 0 0 0;
    -fx-background-color: rgba(0, 0, 0, 0.02);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 11;
}

.text-field:hover {
    -fx-border-color: linear-gradient(to bottom, #aaaaaa 30%, #666666 60%); /* Change border color on hover */
    -fx-background-color: rgba(0, 0, 0, 0.05); /* Change background color on hover */
}

/* Styling for a specific CheckBox with an ID */
#myCheckBox {
    -fx-font-size: 12px;
    -fx-text-fill: #333333;
}

/* Styling for a specific CheckBox with an ID */
#myCheckBox {
    -fx-font-size: 12px;
    -fx-text-fill: #333333;
}

/* Styling for all CheckBoxes in the application */
.check-box {
    -fx-font-size: 12px;
    -fx-text-fill: #555555;
}

/* Styling for all selected (checked) CheckBoxes in the application */
.check-box:selected {
    -fx-background-color: #4CA050; /* Background color when selected */
    -fx-border-color: #4CAF50; /* Border color when selected */
    -fx-text-fill: white; /* Text color when selected */
}

/* Styling for the check mark inside the CheckBox */
.check-box .box {
    -fx-background-color: #4CAF50; /* Color of the check mark */
    -fx-border-color: #4CAF90; /* Border color of the check mark */
}

/* Hover effect for CheckBoxes */
.check-box:hover {
    -fx-background-color: #f0f0f0; /* Background color on hover */
}

/* Add this to your CSS file or apply styles directly in Java code */

.choice-box > .arrow-button {
    -fx-background-color: #2ecc71; /* Green color for the arrow button */
}

.choice-box > .box {
    -fx-border-color: #2ecc71; /* Green color for the choice box border */
}

.choice-box > .label {
    -fx-text-fill: #2ecc71; /* Green color for the text inside the choice box */
}

.choice-box .menu {
    -fx-background-color: #34495e; /* Background color for the dropdown menu */
    -fx-text-fill: white; /* Text color for the items in the dropdown menu */
}

.rounded-pane {
    -fx-background-radius: 10px; /* Adjust the radius as needed */
    -fx-background-color: white; /* Set your desired background color */
}

.quitIcon {
    -fx-icon-color: #797373a6;
}

.quitIcon:hover {
    -fx-icon-color: #ff0000; /* Change the color on hover to red (adjust as needed) */
}

.minIcon {
    -fx-icon-color: #797373a6;
}

.minIcon:hover {
    -fx-icon-color: #2b272f; /* Change the color on hover to red (adjust as needed) */
}

.topMenuBar {
    -fx-background-color: #f0f0f0; /* Set the default background color */
}

.topMenuBar:hover {
    -fx-background-color: #e0e0e0; /* Change the background color on hover (adjust as needed) */
}

.searchIcon{
    -fx-background-color: #9e9e9e;
}

.searchIcon:hover{
    -fx-background-color: #333333;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.search-icon {
    /*-fx-shape: "M 8 15 L 13 20 L 12 21 L 7 16 L 8 15 Z M 15.5 14 C 17.5 14 19 15.5 19 17.5 C 19 19.5 17.5 21 15.5 21 C 13.5 21 12 19.5 12 17.5 C 12 16.3 12.5 15.2 13.2 14.3 L 13.2 14.3 C 13.5 13.9 13.9 13.6 14.3 13.5 C 14.3 13.5 14.3 13.5 14.3 13.5 C 14.3 13.5 14.3 13.5 14.3 13.5 C 14.7 13.4 15.1 13.6 15.4 13.8 C 15.4 13.8 15.4 13.8 15.4 13.8 C 15.4 13.8 15.4 13.8 15.4 13.8 C 16.2 14.5 16.2 15.7 15.5 16.5 L 15.5 16.5 L 15.5 16.5 C 14.7 17.3 13.5 17.3 12.7 16.5 L 12.7 16.5 C 11.9 15.7 11.9 14.5 12.7 13.7 L 12.7 13.7 L 12.7 13.7 C 13.5 12.9 14.7 12.9 15.5 13.7 L 15.5 13.7 C 16.3 14.5 16.3 15.7 15.5 16.5 L 15.5 16.5 Z";*/
    -fx-fill: #9e9e9e; /* Icon color */
    -fx-padding: 5px; /* Padding around the icon */
}

/* Define hover effect */
.search-icon:hover {
    -fx-fill: #333333; /* Hover color */
    -fx-cursor: hand; /* Change cursor to hand */
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.mainFxmlClass {
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    /*-fx-background-color: #21242c;*/
}
.mainFxmlClass1 {
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
    /*-fx-background-color: #000000;*/
}

